SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=apikey
SMTP_PASS=your-sendgrid-api-key
MAIL_FROM=Student Pocket <your-verified-sender-email>
MONGODB_URI=
MONGODB_DB=student-pocket
